* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
}

.frameone {
    border: 2px solid #71b971;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: #ebffeb;
    color: black;
}

.frametwo {
    border: 2px solid #c76a6a;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: #ffd6d6;
    color: black;
}

.framestandar {
    padding: 10px;
    margin: 10px;
}

.framestandartwo {
    padding-top: 5%;
}

.saldo{
    font-size: 2rem;
}

.saldo::before {
    content: "$";
}

.blink {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
  }
  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }